html
  link(rel='import', href='../dist/vainilla-tour.html')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  style
    body {
      margin:0;
    }
    p {
      
    }
    .fixed {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
    .left {
      position: fixed;
      bottom: 16px;
      left: 16px;src
    }
  body
    vainilla-tour(whit-labels='true')
      step-tour(value='Primer mensaje', for='loginButton', color='white', background='#F50057')
      step-tour(value='No tiene la propiedad "for" por lo tanto debería de estar en el centro', color='white', background='#00ACC1')
      step-tour(value='Paso de la contraseña',for='passwordInput', color='white', background='#F50057')
      step-tour(value='sin color y sin for')
      step-tour(value='position fixed',for='fixed', color='white', background='#F50057')
    .row
      .col-md-12#otro
        .login-form.panel.panel-default
          .panel-heading.padded login
          .panel-body.padded
            form.separate-sections.form-signin( name = 'formLogin' )
              .form-group
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-user
                  input.form-control#userInput(
                    autofocus
                    type = 'text'
                  )
              .jumbotron Hi!
              div#fixed.fixed Enrique
              div#fixeded.left Enrique_oo
              .form-group
                .input-group
                  .input-group-addon
                    span.glyphicon.glyphicon-credit-card
                  input.form-control#passwordInput(
                    placeholder = "'PASSWORD'",
                    required
                    type = 'password'
                  )
              .form-group
                button.btn.btn-inverse.btn-block#loginButton
                  i.glyphicon.glyphicon-log-in
                    | &nbsp
                    span( translate = 'LOGIN' )
              a.pull-right(
                href = '/app/#/recupera-password'
                translate = 'FORGOTTEN_PASSWORD'
              )
              p#texto Hola como 
              .clearfix
