html
  link(rel='import', href='../src/vainilla-tour.html')
  style
    body {
      margin:0;
    }
    p {
      
    }
    paper-card {
      width: 100%;
    }
    .fixed {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
    .left {
      position: fixed;
      bottom: 16px;
      left: 16px;
    }
    .right {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
    .contenido {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 2px;
      font-family: 'Roboto', 'Noto', sans-serif;
      -webkit-font-smoothing: antialiased;
      width: 100%;
      text-align: center;
    }
    .tite {
      padding: 16px;
      font-size: 24px;
      font-weight: 400;
      color: #000;
      bottom: 0px;
      position: relative;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      overflow: hidden;
    }
    .card-content {
      padding: 16px;
      position: relative;
    }
  body
    vainilla-tour(whit-labels='true', name='tour1')
      step-tour(value='Primer mensaje', for='examenesEmpresa', color='white', background='#F50057')
      step-tour(value='No tiene la propiedad "for" por lo tanto debería de estar en el centro', color='white', background='#00ACC1')
      step-tour(value='Para la tabla', for='paperCard', color='white', background='#F50057')
      step-tour(value='Para la tabla adentro', for='buttonone', color='white', background='#F50057', inherit)
      step-tour(value='sin color y sin for')
      step-tour(value='Para la columna', for='left', color='white', background='#F50057')
      step-tour(value='Para la imagen',for='right', color='white', background='#F50057')
    ikenga-container
      ikenga-nav(color='#056A6F')
        ikenga-menu-actions#examenesEmpresa(
          home
          title = 'Polymer Tour'
        )
        ikenga-icon-nav#image(icon="https://upload.wikimedia.org/wikipedia/commons/5/5c/Linus_Torvalds_(cropped).jpg", for="ikenga-menu", position="right")
        ikenga-menu(position="right")
          ikenga-item-menu(href='/logout') Cerrar sesión
          ikenga-item-menu Términos y condiciones
          ikenga-item-menu Avisos de privacidad
          ikenga-item-menu Preguntas frecuentes
          ikenga-item-menu Noticias
      ikenga-content
        div
          div.left#left Enrique
          div.right#right López
        paper-card#paperCard(heading='Multi Tour Option 1')
          .card-content Contenido
          .card-actions
            paper-button#buttonone Button 1
            paper-button#buttontwo Button 2
        paper-card#paperCard(heading='Multi Tour Option 2')
          .card-content Contenido
          .card-actions
            paper-button#buttonone Button 1
            paper-button#buttontwo Button 2
        paper-card#paperCard(heading='Multi Tour Option 3')
          .card-content Contenido
          .card-actions
            paper-button#buttonone Button 1
            paper-button#buttontwo Button 2
        paper-card#paperCard(heading='Multi Tour Option 4')
          .card-content Contenido
          .card-actions
            paper-button#buttonone Button 1
            paper-button#buttontwo Button 2
  script
    document.querySelector('vainilla-tour').init();
